.input-area {
    width: 25vw;
    height: 25vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #EFEFEF;
    margin-top: 5vw;
    box-shadow: -1px 1px 13px 0px #282D33;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: space-evenly;
}

#register-here {
    font-family: 'Caveat', cursive;
}

.button {
    cursor: pointer;
}